body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size:62.5%;
}

header{
    width: 100%;
    height: 67.9rem;
}

.content{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.contentLeft {
    text-align: center;
}

.contentLeft h1{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 900;
    font-size: 3.2rem;
    line-height: 4.0rem;
    color: #B52184;
}

.contentLeft p{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 25px;
    color: #312D64;
}

.contentLeft button {
    width: 6rem;
    height: 10.5rem;
    border: none;
    background: none;
    border: 3px solid #B52184;
    border-radius:76.0rem;
}

.contentLeft button:hover {
    filter: brightness(0.9);
    background:#ffe3fd;
}

.contentLeft button img {
    width: 3rem;
    height: 4.5rem;
}

.contentRight img{
    width: 36.4rem;
    height: 37.0rem;
}

main{
    width: 100%;
}

#sectionOne{
    padding: 4rem;
    background: linear-gradient(96.21deg, #343193 0%, #302C63 99.68%);
}

#sectionOne .box{
    height: 33.7rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2.6rem;
    border-radius: 2rem;
    background: white;
}

#sectionOne .box:nth-child(1){
    margin-bottom: 4rem;
}

#sectionOne .box:nth-child(2){
    margin-bottom: 4rem;
}

#sectionOne .box img{
    width: 8rem;
    height: 8rem;
}

#sectionOne .box h1{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 900;
    font-size: 3rem;
    line-height: 3.7rem;
    color: #B52184;
}

#sectionOne .box p{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #312D64;
}

#sectionTwo{
    width: 100%;
    height:56.5rem;
    text-align: center;
}

#sectionTwo h1{
    text-align: start;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 900;
    font-size: 3.2rem;
    line-height: 4rem;
    color: #B52184;  
}

#sectionTwo img{
    display: none;
 }

form{
    padding: 4rem;
}

form div i{
    font-size: 2rem;
    color: #B52184;
    padding-left: 1rem; 
}

form div{
   display: flex;
   border: 2px solid #312D64;
   border-radius: 1rem;
   align-items: center;
   gap: 1rem;
   margin-bottom: 2rem;
}

form div input{
    width: 100%;
    height: 3.2rem;
    outline: none;
    border: none;
    border-radius: 1rem;
}

::placeholder{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 100%;
    color: #312D64;
}

textarea{
    width: 100%;
    height: 9rem;
    outline: none;
    border-radius: 1rem;
    border: none;
    padding: 1rem;
}

#buttonForm {
    border: none;
}

#buttonForm button{
    width: 15.1rem;
    height: 4.5rem;
    border-radius: 1.6rem;
    border: none;
    color: white;
    background: linear-gradient(96.21deg, #343193 0%, #302C63 99.68%);
}

footer{
    width: 100%;
    height: 7.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 2.0rem;
    line-height: 2.4rem;
    color: #FFFFFF;
    background: linear-gradient(96.21deg, #343193 0%, #302C63 99.68%);
}

@media (min-width: 1000px) {
    header{
        height: 83.6rem;
    }

    .content{
        flex-direction: row;
    }

    .contentLeft{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 23.5rem;
    }
    
    .contentLeft {
        text-align: center;
    }
    
    .contentLeft h1{ 
        font-size: 5.8rem;
        line-height: 0;
    }
    
    .contentLeft p{
        font-size: 3.2rem;
        line-height: 0;
    }
    
    .contentLeft button {
       margin-top: 17.9rem;
    }
    
    .contentRight img{
        width: 72.0rem;
        height: 73.0rem;
    }
    
    #sectionOne{
        display: flex;
        gap: 2rem;
        padding: 4rem 4rem 0;
    }
    
    #sectionOne .box{
        height: 44.8rem;
        padding: 3.2rem;
        border-radius: 2.4rem;
    }
    
    #sectionOne .box img{
        width: 9.7rem;
        height: 9.7rem;
    }
    
    #sectionOne .box h1{
        font-size: 3.6rem;
    }
    
    #sectionOne .box p{
        font-size: 2rem;
    }
    
    #sectionTwo{
        height:61.2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #sectionTwo img{
        display:block
     }
    
    #sectionTwo h1{
        text-align: start;
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 900;
        font-size: 4.2rem;
        line-height: 4rem;
        color: #B52184; 
    }
    
    form{
        width: 79.6rem;
    }
    
    form div input{
        height: 4.2rem;
    }
    
    textarea{
        height: 10rem;
    }
}